$monoton: 'Monoton', cursive;
$averia: 'Averia Sans Libre', cursive;

body, html {
    font-family: $averia;
    background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    min-height: 100vh;
  }

  button{
      border: none;
  }

  a{
      text-decoration: none;
  }


/************************************************ Routing transitions *****************************************/
  
  .page-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }


/***************************************** NAVBAR ****************************/
.logo{
    font-family: $monoton;
    font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 75px;
/* identical to box height */


color: #F2F2F2;
}

.navbar-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-other-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-button{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
padding: 9px 20px;
box-sizing: border-box;

color: #F2F2F2;

background-color: transparent;
}

.outline{
    border: 1px solid #F2F2F2;
    border-radius: 90px;
}

.nav-margin{
    margin-right: 32px;
}

.nav-button:hover{
    cursor: pointer;
}

#last-nav-button.nav-button{
    margin-right: 56px;
}


/********************* FILE UPLOADING **************/
.drag-and-drop{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #F2F2F2;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.or{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #F2F2F2;
margin-top: 16px;
margin-bottom: 16px;
}

.screen-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin: 0px;
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 59px;
text-align: center;

color: #F2F2F2;
}

.smaller-text{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
width: 592px;

color: #F2F2F2;
}

.drag-and-drop{
    margin-top: 90px;
}

.ready-to-strike{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #F2F2F2;
margin-top: 90px;
}

.base-style{
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    width: 592px;
    transition: border .24s ease-in-out;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 30px;
    height: 360px;
}

.filename{
    margin-top: 16px;
    margin-bottom: 40px;
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #F2F2F2;
}

.margin-bottom{
    margin-bottom: 8px;
}

/************************ CENSOR TOOLS ****************/
.set{
    width: 262px;
height: 212px;

border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 34px;
margin-right: 34px;
margin-bottom: 64px;
}

.word-sets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 24px;
}

.chrome{
    margin-bottom: 48px;
    margin-top: 24px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.set-title, .set-wordset{
    font-family: $averia;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;

color: #F2F2F2;
}
.set-wordset{
    margin-bottom: 16px;
}

.add{
    margin-bottom: 40px;
}


/******************************** HOME ******************/
.section-1, .section-2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section-title{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 59px;
text-align: center;

color: #F2F2F2;
margin-bottom: 8px;
}

.home-section-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 7.11vh;
}

.margin-top{
    margin-top: 2.66vh;
}
