$monoton: 'Monoton', cursive;
$averia: 'Averia Sans Libre', cursive;

body, html {
    font-family: $averia;
    min-height: 100vh;
  }

  body{
      margin: 0px;
  }


#main{
    min-width: 100vw;
    min-height:100vh;
    overflow: hidden;
    margin: 0px;
}

.main-container{
    overflow: hidden;
}

.hide-overflow{
    overflow: hidden;
}

.outline:hover{
    background: #f2F2F2;
}

$left: 0vw;
$width: 100vw;
$top: 0vh;
$height: 250vh;


@keyframes moveIt{

    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }

}

:root{
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871,
    );
}

.purify{
    background-image: url('img/text-gradient.png');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 96px;
    animation: movethat;
    animation-duration: 15s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-size: 175%;
}

@keyframes movethat{
    0%{
        background-position-x: right;
    }
    100%{
        background-position-x: left;
    }
}

.background{
    background-image: url('img/rainbow.png');
    background-position: top;
    top: $top;
    position: absolute;
    height: $height;
    width: 100vw;
    z-index: -1;
    overflow: hidden;
    animation: moveIt;
    animation-duration: 15s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}



  button{
      border: none;
  }

  a{
      text-decoration: none;
  }


/************************************************ Routing transitions *****************************************/
  
  .page-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 400ms, transform 400ms;
  }


/***************************************** NAVBAR ****************************/
.logo{
    font-family: $monoton;
    font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 75px;
/* identical to box height */


color: #F2F2F2;
margin-left: 56px;
}

.screen-main{
    width: 100vw;
}

.navbar-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100vw;
}

.nav-other-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-button{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
padding: 9px 20px;
box-sizing: border-box;

color: #F2F2F2;

background-color: transparent;
}

.outline{
    border: 1px solid #F2F2F2;
    border-radius: 90px;
    transition: 200ms ease all;
}

.nav-margin{
    margin-right: 32px;
}

.nav-button:hover{
    cursor: pointer;
}

#last-nav-button.nav-button{
    margin-right: 56px;
}


/********************* FILE UPLOADING **************/
.drag-and-drop{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #F2F2F2;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.or{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #F2F2F2;
margin-top: 16px;
margin-bottom: 16px;
}

.screen-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin: 0px;
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 59px;
text-align: center;

color: #F2F2F2;
}

.smaller-text{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;
width: 592px;

color: #F2F2F2;
}

.drag-and-drop{
    margin-top: 90px;
}

.ready-to-strike{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #F2F2F2;
margin-top: 48px;
}

.base-style{
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    width: 592px;
    transition: border .24s ease-in-out;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 30px;
    height: 360px;
}

.filename{
    margin-top: 16px;
    margin-bottom: 40px;
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #F2F2F2;
}

.margin-bottom{
    margin-bottom: 8px;
}

/************************ CENSOR TOOLS ****************/
.set{
    width: 262px;
height: 212px;

border: 1px solid #F2F2F2;
box-sizing: border-box;
border-radius: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-left: 34px;
margin-right: 34px;
margin-bottom: 64px;
}

.word-sets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 24px;
}

.chrome{
    margin-bottom: 48px;
    margin-top: 24px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.set-title, .set-wordset{
    font-family: $averia;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;

color: #F2F2F2;
}
.set-wordset{
    margin-bottom: 16px;
}

.add{
    margin-bottom: 40px;
}

#add-custom-words{
    margin-bottom: 8px;
}

.custom-input{
    margin-bottom: 24px;
}

.chosen-words-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.words-list{
    margin-bottom: 50px;
    transition: 200ms ease all;
    height: fit-content;
}

#add-custom-words-subtext{
    margin-bottom: 24px;
}

.hidden-word{
    height: 0px;
    opacity: 0;
}

.visible-word{
    height: fit-content;
    opacity: 1;
}

.show-all-words{

font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #F2F2F2;

}

.show-all-words:hover{
    cursor: pointer;
}

.custom-word-input{
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 90px 0px 0px 90px;
    position: absolute;
    width: 394px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    background-color: transparent;
    color: #F2F2F2;
    font-family: $averia;
    padding-left: 22px;
}

.custom-word-input::placeholder{
    color: #f2f2f2;
}

.input-button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 392px;
    width: 94px;
    height: 40px;
    position: relative;
  }
  
  #button-rounded{
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  position: absolute;
  width: 94px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 0px 90px 90px 0px;
  }


  .outline:hover::before{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F2F2F2;
    content: '';
    mix-blend-mode: color-burn;
  }
  
  .outline:hover{
      mix-blend-mode: screen;
      color: black;
  }

  #button-rounded {
    font-family: $averia;
    border: none;
    background: none;
    outline: none;
    color: black;
    mix-blend-mode: screen;
  }
  
  #button-rounded::before {
    position: absolute;
    font-family: $averia;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #F2F2F2;;
    content: '';
    mix-blend-mode: color-burn;
    border-radius: 0px 90px 90px 0px;
  }

  .custom-input{
      position: relative;
      height: 40px;
      margin-left: 55px;

  }

  #button-rounded:hover{
      cursor: pointer;
  }


  .words-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 328px;
      margin-top: 24px;
      transition: 200ms ease all;
  }

  .word{

font-family: $averia;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
transition: 200ms ease all;

color: #F2F2F2;
  }

  .remove-button{
      transition: 200ms ease all;
  }

/******************************** HOME ******************/
.section-1, .section-2{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.section-title{
    font-family: $averia;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 59px;
text-align: center;

color: #F2F2F2;
margin-bottom: 8px;
}

.home-section-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 7.11vh;
}

.margin-top{
    margin-top: 2.66vh;
}


.link {
    position: relative;
    transition: clip-path 275ms ease;
    &:hover span::before, &:focus span::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    span {
      position: relative;
      display: inline-block;
      color:#F2f2f2;
      &::before {
        position: absolute;
        content: attr(data-content);
        color: #F2f2f2;
        text-decoration: underline;
        text-decoration-color:#F2f2f2;
        clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
        transition: clip-path 275ms ease;
      }
    }
  }

  .slider-text{
    font-family: $averia;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F2F2F2;
  }

  .word-mode{
      margin-right: 24px;

  }
  .sentence-mode{
      margin-left: 24px;
  }

  .switch-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      margin-left: 20px;
  }


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 90px;
}
  
.slider:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: -2px;
    bottom: -2px;
    background-color: #F2F2F2;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #F2F2F2;
}

input:focus + .slider {
    box-shadow: 0 0 1px  #F2F2F2;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
    filter: drop-shadow(-2px 2px 6px rgba(0, 0, 0, 0.25));
    fill: 0;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}